GameRigWebSite_Project/GameRigWebSite_Project/Connected Services/ServiceReference1/Service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameRigService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameRigService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phonenumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usertype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="NewsLetter">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAd" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsLetter" nillable="true" type="tns:NewsLetter" />
  <xs:complexType name="AddProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Col" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgurl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddProduct" nillable="true" type="tns:AddProduct" />
  <xs:complexType name="ArrayOfProductTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductTable" nillable="true" type="tns:ProductTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductTable" nillable="true" type="tns:ArrayOfProductTable" />
  <xs:complexType name="ProductTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Colour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTables" nillable="true" type="tns:ArrayOfInvoiceTable" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductTable" nillable="true" type="tns:ProductTable" />
  <xs:complexType name="ArrayOfInvoiceTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceTable" nillable="true" type="tns:InvoiceTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceTable" nillable="true" type="tns:ArrayOfInvoiceTable" />
  <xs:complexType name="InvoiceTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InvoiceId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductTable" nillable="true" type="tns:ProductTable" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserTable" nillable="true" type="tns:UserTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceTable" nillable="true" type="tns:InvoiceTable" />
  <xs:complexType name="UserTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvoiceTables" nillable="true" type="tns:ArrayOfInvoiceTable" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Usertype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="active" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTable" nillable="true" type="tns:UserTable" />
</xs:schema>